@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --mainColor: #b36ae2;
  --white: #ffffff;
  --gray: #a6a6a6;
  --black1: #261f34;
  --black2: #1d1727;
}

.mainColor {
  color: var(--mainColor);
}
.white {
  color: var(--white);
}
.gray {
  color: var(--gray);
}
.black1 {
  color: var(--black1);
}
.black2 {
  color: var(--black2);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  background: var(--black2);
  overflow: hidden;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
#iframes > iframe{
  width: 100vw;
  height: 100vh;
}